@model List<BitBookMvcApp.Models.ViewModels.FriendListView>

@{
    ViewBag.Title = "ViewAllFriend";
}

<h2>Friend List</h2>

@if (Model != null)
{
    @Html.BeginForm("Unfriend", "Friend")
    {
        foreach (var item in Model)
        {
            @Html.Hidden("friendId", item.FriendId)
            <div class="form-horizontal">
                <div class="row well form-group">
                    <div class="col-md-offset-2 col-md-4">
                        @Html.ActionLink(item.Name, "", "", new { @class = "control-label" })
                    </div>
                    <div class="col-md-offset-2 col-md-2">
                        <input type="submit" value="Unfriend" name="unfriendButton" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    }
}